*{
    box-sizing: content-box;
  }
  
/*adjusting the div container*/
.container 
{
    
    position: absolute; 
	left: 50%;
    right: 60%;
	top: 80%;
	transform: scale(0.9) translate(-50%, -100%);
	border: 5mm rgba(17, 128, 219, 0.8);
	border-style: groove;
	width: 770px;
    
}
  
/*hiding the rest, showing the current image*/
.slides 
{
  display: none;
}
  
/* when the cursor rides over the small images (hovering) cursor turns into 'pointer' */
.cursor 
{
    cursor: pointer;
}
  
/* next & previous buttons */
.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: 2.6%;
    padding: 5px;
    margin-top: -50px;
    color: rgb(245, 147, 0);
    font-weight: bold;
    font-size: 20px;
    border-radius: 100px;
    user-select: auto;
    
}
  
/* positioning the next & prev buttons */
.next 
{
    right: 2%;
    border-radius: 100px;
}

.prev
{
    left: 2%;
}
  
  
/*while hovering, if the cursor comes on the next&prev btns. background image will be blue */
.prev:hover,
.next:hover 
{
    background-color: rgba(17, 128, 219, 0.8);
}
  

/* adjusting the 9 small pictures in navbar */
.sm_img 
{
    display: flex;
    float: left;
    width: 78px;
	height: 55px;
    border: 1mm groove rgba(17, 128, 219, 0.8);
}
  
/* adjusting the opacity of the small images to be able to give them 
transparency effect */
.demo 
{
    opacity: 0.4;
}
  
.active,
.demo:hover /* if cursor comes on any small image on navbar, the image will be clearly visible*/
{
    opacity: 1;
}
