*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider
{
    position: relative;
    display: flex;
    width: 600px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0, .8);
}
.slider img
{
    position: absolute;
    width: 600px;
    height: 380px;
    transition: all .6s;
}

#img1{ opacity: 1;}
#img2{ opacity: 0;}
#img3{ opacity: 0;}
#img4{opacity: 0;}
#img5{opacity: 0;}
#img6{opacity: 0;}


.fas
{
    cursor: pointer;
    position: absolute;
    color: grey;
    z-index: 1;
    top: 50%;
    transform: scale(2.6);
    transition: 0.2s;
}

.fas:hover{color : #ffffff;}
.fa-chevron-left{left: 30px;}
.fa-chevron-right{right: 30px;}
.circle
{
    position: absolute;
    bottom: 10px;
    width: 15px;
    height: 15px;
    border: 2.5px solid white;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s;
}
#circle1
{
    left: 37%;
    background: white;
}
#circle2{left: 42%;}
#circle3{left: 47%;}
#circle4{left: 52%;}
#circle5{left: 57%;}
#circle6{left: 62%;}

